<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key, height: 700, crop: :fill %>');">
  <div class="container">
    <h1 class="banner-title"><%= @list.name %></h1>
    <%= link_to "Back to list", root_path, class: "button-home" %>
  </div>
</div>


<%= link_to 'Add a movie', new_list_bookmark_path(@list) %>
<%= link_to root_path do %>
  <i class="fa fa-history"></i> Back to list
<% end %>

<% @list.bookmarks.each do |item| %>
    <img src="https://image.tmdb.org/t/p/original<%=item.movie.poster_url%>">
    <p> <%=item.movie.poster_url%> </p>
    <p> <%= item.movie.title %></p>
    <p> <%= item.movie.overview %></p>
    <p> <%= item.comment %></p>
    <%= link_to "Delete",
            bookmark_path(item),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  <% end %>
